.aboutscreen {
  display: flex;
  margin-top: 7rem;
  min-height: 100vh;
}

.team-div {
  display: flex;
  align-items: center;
  margin-left: 50%;
  gap: 1rem;
  transform: translateX(-60%);
}
.boxes {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}
.show .boxes {
  width: 100%;
  overflow: visible;
}
.box {
  width: 100px;
  height: 100px;
  display: grid;
  color: white;
  border: 1px solid rgb(103, 2, 2);
  background-color: hsla(22, 70%, 50%, 0.897);
  border-radius: 6px;
  margin-bottom: 0.5rem;
  place-content: center;
}
.dropdown {
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: 0.5s;
  gap: 5rem;
}
.dropdown-item-wrapper {
  position: relative;
  transition: 0.5s;
}

.dropdown-item {
  position: absolute;
  padding: 1rem 1.5rem;
  top: -70px;
  left: 0;
  background-color: var(--main-color);
  color: white;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 280px;
  width: 100%;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow: hidden;
}
.icon {
  display: flex;
  transition: 0.5s;
}
.rotate {
  transform: rotate(180deg);
}
.content.show {
  max-height: 100%;
}
.dropdown-item:hover {
  opacity: 0.7;
}
.dropdown.large {
  flex: 2;
}
.info {
  flex: 4;
  transition: 0.5s;
  margin-top: -70px;
}
.info h1 {
  margin-left: 50%;
  transform: translateX(-50%);
}
.info.small {
  flex: none;
  width: 0;
  overflow: hidden;
}

.ratesystem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.desc {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  padding-bottom: 2rem;
}
.desc span {
  width: 260px;
}
.show .desc .line {
  width: 53%;
  border-top: 1px solid black;
  transform: translateY(10px);
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}
.rules-text {
  margin-top: 1rem;
}
.rules-text h4 {
  margin-top: 2rem;
}
.rules-text div {
  margin-top: 0.7rem;
  margin-left: 1rem;
}
.quests {
  font-size: 1.35rem;
}
.quests div {
  margin-bottom: 0.5rem;
}
@media (min-width: 760px) {
  .dropdown-item.right {
    left: 35%;
  }
  .hide {
    display: none;
  }
}
@media (min-width: 550px) {
  .rules-text {
    font-size: 1.35rem;
  }
  .ratesystem {
    font-size: 1.3rem;
  }
}
@media (max-width: 760px) {
  .aboutscreen {
    flex-direction: column;
  }
  .info {
    order: 1;
    max-height: 100px;
  }
  .dropdown {
    order: 2;
    transform: translateY(110px);
    flex: 1;
  }
  .info.small {
    flex: 1;
    width: 100%;
  }
  .info h1 {
    margin: 0;
    transform: unset;
  }
  .desc {
    flex-direction: column;
  }
  .show .desc .line {
    width: 100%;
  }
  .team-div {
    margin-left: 0;
    transform: unset;
    flex-direction: column;
    align-items: center;
  }
  .boxes {
    justify-content: center;
  }
  .box {
    width: 15vw;
    height: 15vw;
  }
}
