nav {
  margin: 0 3rem;
  padding: 1rem 0;
}

ul.flex-between {
  gap: 2rem;
}
ul.flex-between li {
  list-style: none;
}
ul.flex-between li a {
  padding: 1.5rem 0;
  border-bottom: 1px solid transparent;
}
ul.flex-between li a:hover {
  cursor: pointer;
  color: var(--main-color);
  transition: 0.5s ease;
}

ul.flex-between .active a {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.login {
  padding: 1rem 1.5rem;
  background-color: var(--main-color);
  color: white;
  border-radius: 7px;
  cursor: pointer;
}
.login:hover {
  opacity: 0.7;
}
