nav {
  margin: 0 3rem;
  padding: 1rem 0;
}
.border-b {
  border-bottom: 1px solid rgba(0, 0, 0, 0.39);
}
ul.flex-between {
  gap: 2rem;
}
ul.flex-between li {
  list-style: none;
}
ul.flex-between li a {
  padding: 1.5rem 0;
  border-bottom: 1px solid transparent;
}
ul.flex-between li a:hover {
  cursor: pointer;
  color: var(--main-color);
  transition: 0.5s ease;
}

ul.flex-between .active a {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.nav-dropdown {
  position: relative;
}
.nav-dropdown-items {
  position: absolute;
  background-color: white;
  left: -1rem;
  top: 3.8rem;
  border-radius: 5px;
  overflow: hidden;
  max-height: 0;
  overflow: hidden;
  transition: 1s;
  z-index: 10;
}
.nav-dropdown-items.show-items {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.233);
  max-height: 100vh;
}
.nav-dropdown .styled-button {
  gap: 0.5rem;
}
.nav-dropdown-label {
  padding: 0.7rem 1.3rem;
  font-size: 1.3rem;
}
.nav-dropdown-item {
  padding: 0.7rem 1.3rem;
  cursor: pointer;
  transition: 0.5s;
}
.nav-dropdown-item:hover {
  background-color: #ccc;
}
.mobile-screen {
  display: none;
}
@media (max-width: 760px) {
  .windows-screen {
    display: none;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    cursor: pointer;
  }
  .hamburger .line {
    width: 20px;
    height: 2px;
    background-color: black;
  }
  .mobile-screen {
    background-color: red;
    position: absolute;
    width: 43vw;
    bottom: 0;
    top: 85px;
    left: -1000px;
    z-index: 10;
    padding: 1rem;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.199);
    transition: 0.5s;
  }
  .show-menu {
    left: 0;
  }
  .mobile-screen {
    display: block;
  }
  .mobile-screen .nav-links {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-background {
    position: absolute;
    width: 100vw;
    top: 85px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    background-color: hsla(0, 0%, 0%, 0.473);
  }
}
@media (max-width: 550px) {
  nav {
    margin: 0 0.5rem;
  }
}
