:root {
  --main-color: hsl(0, 92%, 44%);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.App {
  position: relative;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper {
  margin: 0 3rem;
}
.styled-button {
  padding: 1rem 1.5rem;
  background-color: var(--main-color);
  color: white;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
  max-width: max-content;
  border: none;
}
.styled-button:hover {
  opacity: 0.7;
}
@media (max-width: 550px) {
  .wrapper {
    margin: 0 0.5rem;
  }
}
